body {
    font-family: "Segoe Script";
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

h1 {
    font-family: "Segoe Script";
    text-align: center;
    color: #333;
    padding: 20px;
    background-color: #f8c141;
}

h2{
    font-family: "Lucida Handwriting";
    font-size: 100%;
    text-align: left;
    color: #333;
    padding: 05px;
    background-color: #f0d086;
}
.recipe-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.recipe-item {
    text-align: center;
}

.food-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-item p {
    font-size: 18px;
    color: #333;
}

.recipe-item a {
    text-decoration: none;
    color: #4eb101;
    font-weight: bold;
}

.recipe-item a:hover {
    color: #45a049;
}
